POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_TIMEOUT=5s

REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_ADDR=
DB=0

HTTP_ADDR=0.0.0.0:8080
HTTP_SHUTDOWN_TIMEOUT=10s

LOGGER_LEVEL=DEBUG
LOGGER_FOLDER=./out/logs

JWT_SECRET=
TOKEN_DURATION=7d

GAME_SEED=37